<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>全部评价</title>
    <link rel="stylesheet" href="./swipter/css/swiper.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/productReview.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mint-ui@1/lib/style.css"> -->
    <style>
      [v-cloak]{
        display: none !important
		 } 
		.pannel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
}
.img_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
     
	 .pannel_img {
    width: 80%;
}
img {
    object-fit: cover;
}
    </style>
  </head>
  <script src="./js/pub.js"></script>
  <script src="./js/jquery-1.12.4.js"></script>
  <script src="./js/vue.js"></script>
  <script src="./js/rem.js"></script>
  <body>
    <div id="app" v-cloak>
      <div class="min_container"  @scroll="scrollEvent" > 
        <nav>
          <div @click='back' class="back">
            <img class='back_row' src='./imges/back1.png'>
          </div>
          <div>全部评论</div>
          <div class="search_scan"></div>
        </nav>
        <div class='col_flex ' >
          <div class='row_flex ar_flex al_flex review_classify ' >
            <div class='col_flex al_flex '  @click='GoTab("all")' v-bind:class='tab_id == "all" ? "tab_act" : "" ' >
              <p>全部</p>
              <p>{{evaluation_count}}</p>
            </div>
            <div class='col_flex al_flex ' @click='GoTab("nice")' v-bind:class='tab_id == "nice" ? "tab_act" : "" '>
              <p>好评</p>
              <p>{{evaluation_count_obj.nice}}</p>
            </div>
            <div class='col_flex al_flex ' @click='GoTab("common")' v-bind:class='tab_id == "common" ? "tab_act" : "" '>
              <p>中评</p>
              <p>{{evaluation_count_obj.common}}</p>
            </div>
            <div class='col_flex al_flex ' @click='GoTab("bed")' v-bind:class='tab_id == "bed" ? "tab_act" : "" '>
              <p>差评</p>
              <p>{{evaluation_count_obj.bad}}</p>
            </div>
          </div>
          <div class='bg_white'v-for='(item,idx) in evaluation_arr'  >
            <div >
              <div class='col_flex review_con' >
                <div class='row_flex al_flex  product_review_con' >
                  <img class='product_review_head' src="./imges/my_head.png" alt="">
                  <span>{{item.product_evaluation_userName}}</span>
                </div>
                <div class='review_time' >{{item.add_time}}</div>
                <div class='first_review' >
                  {{item.product_evaluation_description}}
                </div>
              </div>
              <div class='row_flex wr_flex pic_box ' >
                <div class='review_img img_flex' v-for='(pic_item,idx) in item.product_evaluation_picture' :key='idx' >
                  <img :src="pic_item" alt=""  @click='GigImg(pic_item)'>
                </div>
                
              </div>
              <div class='first_answer' v-show='item.product_evaluation_reply ' >
                <div class='first_answer_lan' >客服回复：</div>
                <div class='first_review' >
                  {{item.product_evaluation_reply}}
                </div>
              </div>
              <div class='user_review'  v-show='item.product_evaluation_addition_description' >用户追评</div>
              <div class='first_review' v-show='item.product_evaluation_addition_description' >
               {{item.product_evaluation_addition_description}}
              </div>
              <div class='row_flex wr_flex pic_box' >
                <div class='review_img img_flex' v-for='(add_item,idx) in item.product_evaluation_addition_picture' >
                  <img :src="add_item" alt="" @click='GigImg(add_item)'>
                </div>
                
              </div>
              <div class='first_answer' v-show='item.product_evaluation_addition_reply' >
                <div class='first_answer_lan' >客服回复：</div>
                <div class='first_review' >
                 {{item.product_evaluation_addition_reply}}
                </div>
              </div>
            </div>
			<!--czy-->
            <div v-if='pannel' class='pannel img_flex' @click='Look' >
          <img class='pannel_img' :src="pan_str" alt="">
         </div>

          </div>   
          <div class='go_more' v-if='more_show'  @click='GoMore' >加载更多</div>      
          <div class='go_more' v-else>没有更多评价了</div>
		     
        </div>
      </div>
	
    </div>

    <!-- 引入js -->
    <script src="./js/bk.js"></script>
  
</html>
