body {
  background-color: #f5f5f5;
}

#app {
  padding-top: 0.52rem;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem 0 0.2rem;
  align-items: center;
  font-size: 0.18rem;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.back,
.search_scan {
  width: 0.36rem;
  height: 0.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}
.back_row {
  width: 0.12rem;
  height: 0.2rem;
}
.ipt_sea {
  width: 75%;
  font-size: 0.18rem;
  border: 0.01rem solid #eee;
  border-radius: 0.2rem;
  height: 0.3rem;
  padding-left: 0.1rem;
}
.head_search {
  width: 0.26rem;
  height: 0.26rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0.45rem;
  background-color: #fff;
  font-size: 0.16rem;
  position: fixed;
  width: 100%;
  top: 0.4rem;
  left: 0;
}

.nav_name {
  height: 0.25rem;
  border-bottom: 0.01rem solid transparent;
}

.nav_name_act {
  border-bottom: 0.01rem solid #e61e56;
}

.order_staus {
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  display: flex;
  flex-direction: column;
  background-color: #e61e56;
  justify-content: flex-start;
  padding-left: 0.15rem;
  color: #fff;
  font-size: 0.12rem;
  /* margin-bottom: 0.10rem; */
}
.order_top {
  display: flex;
  align-items: center;
}
.order_icon {
  width: 0.15rem;
  height: 0.18rem;
  display: inline-block;
  margin-right: 0.1rem;
}

.order_mid {
  padding-left: 0.25rem;
  display: flex;
  justify-content: flex-start;
}

.info {
  margin-right: 0.1rem;
  font-size: 0.12rem;
}

.order_address {
  min-height: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-around;
  padding-left: 0.15rem;
  font-size: 0.12rem;
  margin-bottom: 0.05rem;
  width: 85%;
  padding-top: 0.05rem;
}

.order_info {
  padding: 0.15rem 0 0 0;
  background-color: #fff;
  margin-bottom: 0.6rem;
}

.express {
  padding-top: 0.2rem;
  border-top: 0.01rem dotted #d8d4d4;
}

.address_icon {
  width: 0.15rem;
  height: 0.15rem;
  margin-right: 0.1rem;
  margin-left: 0.15rem;
}

.order_list {
  padding: 0.1rem 0.1rem;
  display: flex;
  justify-content: space-around;
  font-size: 0.16rem;
  border-bottom: 0.01rem solid #f5f5f5;
}

.order_list_left {
  width: 0.5rem;
  height: 0.5rem;
}

.order_list_left_img {
  width: 100%;
  height: 100%;
}

.order_list_mid {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0.05rem;
  font-size: 0.12rem;
}

.order_list_mid_text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order_list_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: right;
  width: 20%;
  font-size: 0.12rem;
}

.text {
  width: 100%;
  text-align: right;
  display: inline-block;
}

.connect {
  width: 100%;
  height: 0.25rem;
  border: solid 0.01rem #e2dfdf;
  border-radius: 0.25rem;
  line-height: 0.25rem;
  text-align: center;
  color: #6d6d6d;
  font-size: 0.12rem;
}

.money_list {
  background-color: #fff;
  margin-top: 0.05rem;
  padding: 0 0.15rem;
  color: #424242;
  font-size: 0.12rem;
}

.money_item {
  height: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place {
  height: 0.6rem;
}
.blank {
  /* padding: 0.15rem 0.15rem; */
  background-color: #fff;
  /* margin-top: 0.15rem; */
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.5rem;
  align-items: center;
}

.connect_btn_cancel {
  border: solid 0.01rem #e2dfdf;
  color: #6d6d6d;
  height: 0.3rem;
  width: 1rem;
  border-radius: 0.4rem;
  line-height: 0.3rem;
  text-align: center;
  margin-right: 0.15rem;
  font-size: 0.12rem;
}
.connect_btn_cancel_no {
  color: #6d6d6d;
  height: 0.3rem;
  width: 1rem;
  border-radius: 0.4rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.12rem;
}
.connect_btn_right {
  background-color: #e61e56;
  color: #fff;
  height: 0.3rem;
  width: 1rem;
  border-radius: 0.25rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.12rem;
}

.row {
  width: 0.21rem;
  height: 0.23rem;
  margin-left: 0.15rem;
}

.select_addr {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 0.05rem;
}

.addr_row {
  width: 1rem;
  /* height:0.5rem; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.2rem;
}

.addr_icon {
  width: 0.1rem;
  height: 0.1rem;
}

.shop_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-right: 0.3rem; */
}

.bggray {
  background-color: #626775 !important;
}

.userd {
  font-size: 0.16rem;
  height: 0.5rem;
  padding: 0.1rem;
  color: #333;
}

/* 优惠券的弹框 */
.dis_pannel {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50%;
  background-color: white;
  z-index: 999999;
  /* overflow-y: auto */
}
.dis_use {
  height: 0.1rem;
  padding: 0.2rem;
  font-size: 0.14rem;
  justify-content: space-between;
  border-bottom: 0.01rem solid #f4f4f4;
  color: #666;
}
.dis_close {
  width: 0.15rem;
  height: 0.15rem;
}
.dis_list {
  padding: 0 0.1rem;
}
.dis_item {
  height: 0.8rem;
  font-size: 0.14rem;
  background-image: url("../imges/dis-nouse.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0.1rem 0.05rem;
  color: #ca224f;
}
.dis_item_left {
  width: 25%;
}
.dis_item_mid {
  width: 50%;
}
.dis_item_right {
  width: 25%;
}
.dis_item_date {
  width: 55%;
  color: #424242;
  font-size: 0.14rem;
}
.dis_item_money {
  font-size: 0.3rem;
}
.go_user {
  padding: 0.05rem 0.1rem;
  border-radius: 0.18rem;
  background-color: #ca224f;
  color: white;
  font-size: 0.12rem;
}
.go_userd_bg {
  background-image: url("../imges/dis-used.png");
}
.go_userd {
  padding: 0.05rem 0.1rem;
  border-radius: 0.18rem;
  border: 0.01rem solid #ca224f;
  color: #ca224f;
  font-size: 0.12rem;
}
.coupon_pannel_list {
  height: 95%;
  overflow-y: auto;
  padding-bottom: 0.25rem;
}
.pay_money {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.14rem;

  width: 100%;
  height: 0.5rem;
  background-color: white;
}
.confirm_money {
  position: absolute;
  width: 50%;
  height: 1.5rem;
  background-color: white;
  top: 50%;
  margin-top: -0.75rem;
  left: 50%;
  margin-left: -25%;
  font-size: 0.14rem;
  border-radius: 0.05rem;
  box-shadow: 0px 0px 17.64px 3.36px rgba(0, 0, 0, 0.2);
}
.c_check {
  height: 1rem;
}
.f_check {
  height: 0.5rem;
  border-top: 0.01rem solid #ccc;
}
.f_check :first-child {
  border-right: 0.01rem solid #ccc;
}
.f_check div {
  width: 50%;
  text-align: center;
  line-height: 0.5rem;
}
.paied {
  height: 100%;
  width: 25%;
  background-color: #e61e56;
  color: white;
  line-height: 0.5rem;
  text-align: center;
}
.real_money {
  width: 73%;
  height: 100%;
  line-height: 0.5rem;
  margin-left: 0.15rem;
}
.money_pannel {
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.12rem;
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.15rem;
}
.w45 {
  width: 45%;
  margin-right: 0.15rem;
}
.dis_select {
  width: 0.2rem;
}
